@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.draw-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
  }

  .draw-wrapper h1{
    font-family: "Inter";
    letter-spacing: -0.03em;
    color: white;
    
  }
  
  .draw-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .draw-path {
    stroke: var(--accent);

    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    pointer-events: none;
  }
  

  .wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000000000000000000000000000000000;
    flex-direction: column;
  }